In [1]:
import pandas as pd
import datetime as dt

In [2]:
## review of datetime module

sometime = dt.date(2016, 4, 12)

In [3]:
sometime.year

2016

In [4]:
sometime.day

12

In [5]:
sometime.max

datetime.date(9999, 12, 31)

In [6]:
dt.datetime(2010, 10, 21)

datetime.datetime(2010, 10, 21, 0, 0)

In [7]:
str(dt.datetime(2010, 10, 21, 10, 2, 57))

'2010-10-21 10:02:57'

In [8]:
## pandas Timestamp object

pd.Timestamp('2015-09-30')
pd.Timestamp('2015, 09, 30')
pd.Timestamp('30/12/2012')
pd.Timestamp('30/12/2012 6:32:23 PM')

Timestamp('2012-12-30 18:32:23')

In [9]:
pd.Timestamp(dt.date(2015, 1, 1))
pd.Timestamp(dt.datetime(2015, 1, 1, 9, 32, 20))

Timestamp('2015-01-01 09:32:20')

In [11]:
## pandas DateTimeIndex object
# a collection of pandas datetime stamps

dates = ['2016-01-02', '2001-09-20', '2009-09-07']
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2001-09-20', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [14]:
dates = [dt.date(2016, 1, 5), dt.date(1992, 2, 13), dt.date(2003, 2, 10)]
dtIndex = pd.DatetimeIndex(dates)

In [15]:
values = [100, 200, 300]
pd.Series(data=values, index=dtIndex)

2016-01-05    100
1992-02-13    200
2003-02-10    300
dtype: int64

In [16]:
## pd.to_datetime() method

pd.to_datetime('2001-04-09')

Timestamp('2001-04-09 00:00:00')

In [17]:
pd.to_datetime(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [18]:
pd.to_datetime(dt.datetime(2013, 1, 4, 13, 14, 30))

Timestamp('2013-01-04 13:14:30')

In [19]:
pd.to_datetime(['2001-06-01', '2016/02/08', '2016', 'July 4th, 1996'])

DatetimeIndex(['2001-06-01', '2016-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [23]:
times = pd.Series(['2001-06-01', '2016/02/08', '2016', 'July 4th, 1996', '3rd October, 1998'])
times

0           2001-06-01
1           2016/02/08
2                 2016
3       July 4th, 1996
4    3rd October, 1998
dtype: object

In [24]:
pd.to_datetime(times)

0   2001-06-01
1   2016-02-08
2   2016-01-01
3   1996-07-04
4   1998-10-03
dtype: datetime64[ns]

In [26]:
dates = pd.Series(['2001-06-01', '2016/02/08', '2016', 'Hello', '2012-02-31'])
dates

0    2001-06-01
1    2016/02/08
2          2016
3         Hello
4    2012-02-31
dtype: object

In [28]:
pd.to_datetime(dates, errors='coerce')

0   2001-06-01
1   2016-02-08
2   2016-01-01
3          NaT
4          NaT
dtype: datetime64[ns]

In [30]:
pd.to_datetime([134972150, 1349806505, 1349892905, 1349979305, 1350065705], unit='s')

DatetimeIndex(['1974-04-12 04:15:50', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

In [32]:
## Create range of dates with the pd.date_range() method

pd.date_range(start='2011-01-04', end='2011-02-01', freq='D')

DatetimeIndex(['2011-01-04', '2011-01-05', '2011-01-06', '2011-01-07',
               '2011-01-08', '2011-01-09', '2011-01-10', '2011-01-11',
               '2011-01-12', '2011-01-13', '2011-01-14', '2011-01-15',
               '2011-01-16', '2011-01-17', '2011-01-18', '2011-01-19',
               '2011-01-20', '2011-01-21', '2011-01-22', '2011-01-23',
               '2011-01-24', '2011-01-25', '2011-01-26', '2011-01-27',
               '2011-01-28', '2011-01-29', '2011-01-30', '2011-01-31',
               '2011-02-01'],
              dtype='datetime64[ns]', freq='D')

In [33]:
pd.date_range(start='2011-01-04', end='2011-02-01', freq='W')

DatetimeIndex(['2011-01-09', '2011-01-16', '2011-01-23', '2011-01-30'], dtype='datetime64[ns]', freq='W-SUN')

In [36]:
times = pd.date_range(start='2011-01-04', end='2011-01-05', freq='H')

In [37]:
times[0:4]

DatetimeIndex(['2011-01-04 00:00:00', '2011-01-04 01:00:00',
               '2011-01-04 02:00:00', '2011-01-04 03:00:00'],
              dtype='datetime64[ns]', freq='H')

In [39]:
pd.date_range(start='2011-01-04', end='2011-02-01', freq='5D')

DatetimeIndex(['2011-01-04', '2011-01-09', '2011-01-14', '2011-01-19',
               '2011-01-24', '2011-01-29'],
              dtype='datetime64[ns]', freq='5D')

In [40]:
pd.date_range(start='2011-01-04', end='2011-02-01', freq='B')

DatetimeIndex(['2011-01-04', '2011-01-05', '2011-01-06', '2011-01-07',
               '2011-01-10', '2011-01-11', '2011-01-12', '2011-01-13',
               '2011-01-14', '2011-01-17', '2011-01-18', '2011-01-19',
               '2011-01-20', '2011-01-21', '2011-01-24', '2011-01-25',
               '2011-01-26', '2011-01-27', '2011-01-28', '2011-01-31',
               '2011-02-01'],
              dtype='datetime64[ns]', freq='B')

In [42]:
pd.date_range(start='2011-01-04', end='2011-01-10', freq='8H')

DatetimeIndex(['2011-01-04 00:00:00', '2011-01-04 08:00:00',
               '2011-01-04 16:00:00', '2011-01-05 00:00:00',
               '2011-01-05 08:00:00', '2011-01-05 16:00:00',
               '2011-01-06 00:00:00', '2011-01-06 08:00:00',
               '2011-01-06 16:00:00', '2011-01-07 00:00:00',
               '2011-01-07 08:00:00', '2011-01-07 16:00:00',
               '2011-01-08 00:00:00', '2011-01-08 08:00:00',
               '2011-01-08 16:00:00', '2011-01-09 00:00:00',
               '2011-01-09 08:00:00', '2011-01-09 16:00:00',
               '2011-01-10 00:00:00'],
              dtype='datetime64[ns]', freq='8H')

In [44]:
pd.date_range(start='2011-01-01', end='2011-03-10', freq='MS')

DatetimeIndex(['2011-01-01', '2011-02-01', '2011-03-01'], dtype='datetime64[ns]', freq='MS')

In [45]:
pd.date_range(start='2011-01-04', end='2050-01-10', freq='A')

DatetimeIndex(['2011-12-31', '2012-12-31', '2013-12-31', '2014-12-31',
               '2015-12-31', '2016-12-31', '2017-12-31', '2018-12-31',
               '2019-12-31', '2020-12-31', '2021-12-31', '2022-12-31',
               '2023-12-31', '2024-12-31', '2025-12-31', '2026-12-31',
               '2027-12-31', '2028-12-31', '2029-12-31', '2030-12-31',
               '2031-12-31', '2032-12-31', '2033-12-31', '2034-12-31',
               '2035-12-31', '2036-12-31', '2037-12-31', '2038-12-31',
               '2039-12-31', '2040-12-31', '2041-12-31', '2042-12-31',
               '2043-12-31', '2044-12-31', '2045-12-31', '2046-12-31',
               '2047-12-31', '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [47]:
pd.date_range(start='2012-09-09', periods=5, freq='D')

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13'],
              dtype='datetime64[ns]', freq='D')

In [48]:
pd.date_range(start='2012-09-09', periods=5, freq='M')

DatetimeIndex(['2012-09-30', '2012-10-31', '2012-11-30', '2012-12-31',
               '2013-01-31'],
              dtype='datetime64[ns]', freq='M')

In [49]:
pd.date_range(start='2012-09-09', periods=15, freq='B')

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28'],
              dtype='datetime64[ns]', freq='B')

In [50]:
pd.date_range(start='2012-09-09', periods=15, freq='W-TUE')

DatetimeIndex(['2012-09-11', '2012-09-18', '2012-09-25', '2012-10-02',
               '2012-10-09', '2012-10-16', '2012-10-23', '2012-10-30',
               '2012-11-06', '2012-11-13', '2012-11-20', '2012-11-27',
               '2012-12-04', '2012-12-11', '2012-12-18'],
              dtype='datetime64[ns]', freq='W-TUE')

In [51]:
pd.date_range(end='2012-09-09', periods=15, freq='B')

DatetimeIndex(['2012-08-20', '2012-08-21', '2012-08-22', '2012-08-23',
               '2012-08-24', '2012-08-27', '2012-08-28', '2012-08-29',
               '2012-08-30', '2012-08-31', '2012-09-03', '2012-09-04',
               '2012-09-05', '2012-09-06', '2012-09-07'],
              dtype='datetime64[ns]', freq='B')

In [52]:
pd.date_range(end='2012-09-09', periods=15, freq='D')

DatetimeIndex(['2012-08-26', '2012-08-27', '2012-08-28', '2012-08-29',
               '2012-08-30', '2012-08-31', '2012-09-01', '2012-09-02',
               '2012-09-03', '2012-09-04', '2012-09-05', '2012-09-06',
               '2012-09-07', '2012-09-08', '2012-09-09'],
              dtype='datetime64[ns]', freq='D')

In [53]:
pd.date_range(end='2012-09-09', periods=15, freq='W-MON')

DatetimeIndex(['2012-05-28', '2012-06-04', '2012-06-11', '2012-06-18',
               '2012-06-25', '2012-07-02', '2012-07-09', '2012-07-16',
               '2012-07-23', '2012-07-30', '2012-08-06', '2012-08-13',
               '2012-08-20', '2012-08-27', '2012-09-03'],
              dtype='datetime64[ns]', freq='W-MON')

In [55]:
## .dt accessor - usage as .str accessor for strings
bunch_of_dates = pd.date_range(start='2011-01-01', end='2020-01-01', freq='24D')

In [57]:
s = pd.Series(bunch_of_dates)
s.head(5)

0   2011-01-01
1   2011-01-25
2   2011-02-18
3   2011-03-14
4   2011-04-07
dtype: datetime64[ns]

In [58]:
s.dt.day

0       1
1      25
2      18
3      14
4       7
       ..
132     4
133    28
134    22
135    15
136     9
Length: 137, dtype: int64

In [60]:
s.dt.month.value_counts()

11    12
9     12
7     12
5     12
3     12
1     12
12    11
10    11
8     11
6     11
4     11
2     10
dtype: int64

In [65]:
s.dt.day_name()

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
         ...
132    Wednesday
133     Saturday
134      Tuesday
135       Friday
136       Monday
Length: 137, dtype: object

In [68]:
mask = s.dt.is_quarter_start
s[mask]

0    2011-01-01
19   2012-04-01
38   2013-07-01
dtype: datetime64[ns]

In [69]:
mask = s.dt.is_month_start
s[mask]

0     2011-01-01
5     2011-05-01
19    2012-04-01
38    2013-07-01
71    2015-09-01
104   2017-11-01
109   2018-03-01
dtype: datetime64[ns]

In [72]:
## Importing financial data set with pandas_datareader library

from pandas_datareader import data

In [74]:
stocks = data.DataReader(name='MSFT', data_source='yahoo', start='2010-01-01', end='2021-12-05')
stocks.head(5)

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  23.904985
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  23.912703
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  23.765963
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.518799
2010-01-08  30.879999  30.240000  30.280001  30.660000  51197400.0  23.680998

In [77]:
stocks.values
stocks.columns
stocks.index
stocks.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2021-11-19', '2021-11-22', '2021-11-23', '2021-11-24',
                '2021-11-26', '2021-11-29', '2021-11-30', '2021-12-01',
                '2021-12-02', '2021-12-03'],
               dtype='datetime64[ns]', name='Date', length=3002, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

In [78]:
## Selecting rows with DateTimeIndex

stocks.loc['2010-01-04']

High         3.110000e+01
Low          3.059000e+01
Open         3.062000e+01
Close        3.095000e+01
Volume       3.840910e+07
Adj Close    2.390499e+01
Name: 2010-01-04 00:00:00, dtype: float64

In [79]:
stocks.loc[pd.Timestamp('2010-01-04')]

High         3.110000e+01
Low          3.059000e+01
Open         3.062000e+01
Close        3.095000e+01
Volume       3.840910e+07
Adj Close    2.390499e+01
Name: 2010-01-04 00:00:00, dtype: float64

In [81]:
stocks.iloc[500]

High         2.614000e+01
Low          2.593000e+01
Open         2.596000e+01
Close        2.604000e+01
Volume       2.128720e+07
Adj Close    2.107698e+01
Name: 2011-12-27 00:00:00, dtype: float64

In [88]:
stocks.loc[[pd.Timestamp('2010-01-04'), pd.Timestamp('2010-01-06')]]

             High    Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.59  30.620001  30.950001  38409100.0  23.904985
2010-01-06  31.08  30.52  30.879999  30.770000  58182400.0  23.765963

In [89]:
stocks.iloc[[10, 15, 30]]

             High        Low       Open  Close      Volume  Adj Close
Date
2010-01-19  31.24  30.680000  30.750000  31.10  46575700.0  24.020842
2010-01-26  29.85  29.090000  29.200001  29.50  66639900.0  22.785040
2010-02-17  28.65  28.360001  28.530001  28.59  45882900.0  22.185440

In [90]:
stocks.loc['2013-01-01':'2013-01-15']

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-01-02  27.730000  27.150000  27.250000  27.620001  52899300.0  22.988091
2013-01-03  27.650000  27.160000  27.629999  27.250000  48294400.0  22.680134
2013-01-04  27.340000  26.730000  27.270000  26.740000  52521100.0  22.255665
2013-01-07  26.879999  26.639999  26.770000  26.690001  37110400.0  22.214052
2013-01-08  26.790001  26.459999  26.750000  26.549999  44703100.0  22.097527
2013-01-09  26.750000  26.559999  26.719999  26.700001  49047900.0  22.222370
2013-01-10  26.980000  26.290001  26.650000  26.459999  71431300.0  22.022621
2013-01-11  26.930000  26.280001  26.490000  26.830000  55512100.0  22.330570
2013-01-14  27.080000  26.760000  26.900000  26.889999  48324400.0  22.380510
2013-01-15  27.290001  26.830000  26.830000  27.209999  48244500.0  22.646839

In [91]:
stocks.truncate(before='2013-01-01', after='2013-01-15')

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-01-02  27.730000  27.150000  27.250000  27.620001  52899300.0  22.988091
2013-01-03  27.650000  27.160000  27.629999  27.250000  48294400.0  22.680134
2013-01-04  27.340000  26.730000  27.270000  26.740000  52521100.0  22.255665
2013-01-07  26.879999  26.639999  26.770000  26.690001  37110400.0  22.214052
2013-01-08  26.790001  26.459999  26.750000  26.549999  44703100.0  22.097527
2013-01-09  26.750000  26.559999  26.719999  26.700001  49047900.0  22.222370
2013-01-10  26.980000  26.290001  26.650000  26.459999  71431300.0  22.022621
2013-01-11  26.930000  26.280001  26.490000  26.830000  55512100.0  22.330570
2013-01-14  27.080000  26.760000  26.900000  26.889999  48324400.0  22.380510
2013-01-15  27.290001  26.830000  26.830000  27.209999  48244500.0  22.646839

In [93]:
year_dates = pd.date_range(start='1991-04-12', end='2020-12-31', freq=pd.DateOffset(years=1))
year_dates

DatetimeIndex(['1991-04-12', '1992-04-12', '1993-04-12', '1994-04-12',
               '1995-04-12', '1996-04-12', '1997-04-12', '1998-04-12',
               '1999-04-12', '2000-04-12', '2001-04-12', '2002-04-12',
               '2003-04-12', '2004-04-12', '2005-04-12', '2006-04-12',
               '2007-04-12', '2008-04-12', '2009-04-12', '2010-04-12',
               '2011-04-12', '2012-04-12', '2013-04-12', '2014-04-12',
               '2015-04-12', '2016-04-12', '2017-04-12', '2018-04-12',
               '2019-04-12', '2020-04-12'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [96]:
year_stocks = stocks.index.isin(year_dates)

In [97]:
stocks[year_stocks]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-04-12,30.490000,30.209999,30.250000,30.320000,37068800.0,23.527891
2011-04-12,25.850000,25.549999,25.830000,25.639999,36920400.0,20.335623
2012-04-12,31.040001,30.420000,30.480000,30.980000,38304000.0,25.240526
2013-04-12,29.020000,28.660000,28.850000,28.790001,62886300.0,24.160273
2016-04-12,54.779999,53.759998,54.369999,54.650002,24944300.0,49.810394
2017-04-12,65.510002,65.110001,65.419998,65.230003,17108500.0,61.017113
2018-04-12,94.160004,92.430000,92.430000,93.580002,26758900.0,89.369278
2019-04-12,120.980003,120.370003,120.639999,120.949997,19745100.0,117.457405

In [99]:
## Timestamp objects attributes and methods

someday = stocks.index[500]

In [106]:
someday.month
someday.week
someday.day
someday.is_month_start
someday.is_month_end
someday.is_quarter_end
someday.is_quarter_start

False

In [108]:
someday.month_name()

'December'

In [110]:
someday.day_name()

'Tuesday'

In [111]:
stocks.index.day_name()

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       ...
       'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Friday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
      dtype='object', name='Date', length=3002)

In [112]:
stocks.insert(0, 'Day of Week', stocks.index.day_name())

In [113]:
stocks

,Day of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2010-01-04,Monday,31.100000,30.590000,30.620001,30.950001,38409100.0,23.904985
2010-01-05,Tuesday,31.100000,30.639999,30.850000,30.959999,49749600.0,23.912703
2010-01-06,Wednesday,31.080000,30.520000,30.879999,30.770000,58182400.0,23.765963
2010-01-07,Thursday,30.700001,30.190001,30.629999,30.450001,50559700.0,23.518799
2010-01-08,Friday,30.879999,30.240000,30.280001,30.660000,51197400.0,23.680998
...,...,...,...,...,...,...,...
2021-11-29,Monday,339.029999,334.739990,334.940002,336.630005,28563500.0,336.630005
2021-11-30,Tuesday,337.779999,328.989990,335.320007,330.589996,42885600.0,330.589996
2021-12-01,Wednesday,339.279999,329.390015,335.130005,330.079987,33337600.0,330.079987
2021-12-02,Thursday,333.489990,327.799988,330.299988,329.489990,30766000.0,329.489990
2021-12-03,Friday,332.700012,318.029999,331.989990,323.010010,41755900.0,323.010010

In [116]:
stocks.insert(1, 'Is start of month', stocks.index.is_month_start)

In [117]:
stocks

,Day of Week,Is start of month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-01-04,Monday,False,31.100000,30.590000,30.620001,30.950001,38409100.0,23.904985
2010-01-05,Tuesday,False,31.100000,30.639999,30.850000,30.959999,49749600.0,23.912703
2010-01-06,Wednesday,False,31.080000,30.520000,30.879999,30.770000,58182400.0,23.765963
2010-01-07,Thursday,False,30.700001,30.190001,30.629999,30.450001,50559700.0,23.518799
2010-01-08,Friday,False,30.879999,30.240000,30.280001,30.660000,51197400.0,23.680998
...,...,...,...,...,...,...,...,...
2021-11-29,Monday,False,339.029999,334.739990,334.940002,336.630005,28563500.0,336.630005
2021-11-30,Tuesday,False,337.779999,328.989990,335.320007,330.589996,42885600.0,330.589996
2021-12-01,Wednesday,True,339.279999,329.390015,335.130005,330.079987,33337600.0,330.079987
2021-12-02,Thursday,False,333.489990,327.799988,330.299988,329.489990,30766000.0,329.489990
2021-12-03,Friday,False,332.700012,318.029999,331.989990,323.010010,41755900.0,323.010010

In [119]:
stocks[stocks['Is start of month']]

,Day of Week,Is start of month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-02-01,Monday,True,28.480000,27.920000,28.389999,28.410000,85931100.0,21.943150
2010-03-01,Monday,True,29.049999,28.530001,28.770000,29.020000,43805400.0,22.519117
2010-04-01,Thursday,True,29.540001,28.620001,29.350000,29.160000,74768100.0,22.627750
2010-06-01,Tuesday,True,26.309999,25.520000,25.530001,25.889999,76152400.0,20.180937
2010-07-01,Thursday,True,23.320000,22.730000,23.090000,23.160000,92239400.0,18.052929
...,...,...,...,...,...,...,...,...
2021-07-01,Thursday,True,271.839996,269.600006,269.609985,271.600006,16725300.0,270.585999
2021-09-01,Wednesday,True,305.190002,301.489990,302.869995,301.829987,18983800.0,301.278809
2021-10-01,Friday,True,289.980011,281.290009,282.119995,289.100006,30086300.0,288.572052
2021-11-01,Monday,True,331.489990,326.369995,331.359985,329.369995,27073200.0,328.768524
2021-12-01,Wednesday,True,339.279999,329.390015,335.130005,330.079987,33337600.0,330.079987

In [120]:
## pd.DateOffset() object

stocks.head(3)

,Day of Week,Is start of month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-01-04,Monday,False,31.10,30.590000,30.620001,30.950001,38409100.0,23.904985
2010-01-05,Tuesday,False,31.10,30.639999,30.850000,30.959999,49749600.0,23.912703
2010-01-06,Wednesday,False,31.08,30.520000,30.879999,30.770000,58182400.0,23.765963

In [121]:
stocks.index + pd.DateOffset(days=5)

DatetimeIndex(['2010-01-09', '2010-01-10', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-16', '2010-01-17', '2010-01-18',
               '2010-01-19', '2010-01-20',
               ...
               '2021-11-24', '2021-11-27', '2021-11-28', '2021-11-29',
               '2021-12-01', '2021-12-04', '2021-12-05', '2021-12-06',
               '2021-12-07', '2021-12-08'],
              dtype='datetime64[ns]', name='Date', length=3002, freq=None)

In [123]:
stocks.index + pd.DateOffset(months=1)

DatetimeIndex(['2010-02-04', '2010-02-05', '2010-02-06', '2010-02-07',
               '2010-02-08', '2010-02-11', '2010-02-12', '2010-02-13',
               '2010-02-14', '2010-02-15',
               ...
               '2021-12-19', '2021-12-22', '2021-12-23', '2021-12-24',
               '2021-12-26', '2021-12-29', '2021-12-30', '2022-01-01',
               '2022-01-02', '2022-01-03'],
              dtype='datetime64[ns]', name='Date', length=3002, freq=None)

In [124]:
stocks.index + pd.DateOffset(weeks=5)

DatetimeIndex(['2010-02-08', '2010-02-09', '2010-02-10', '2010-02-11',
               '2010-02-12', '2010-02-15', '2010-02-16', '2010-02-17',
               '2010-02-18', '2010-02-19',
               ...
               '2021-12-24', '2021-12-27', '2021-12-28', '2021-12-29',
               '2021-12-31', '2022-01-03', '2022-01-04', '2022-01-05',
               '2022-01-06', '2022-01-07'],
              dtype='datetime64[ns]', name='Date', length=3002, freq=None)

In [125]:
stocks.index + pd.DateOffset(years=5)

DatetimeIndex(['2015-01-04', '2015-01-05', '2015-01-06', '2015-01-07',
               '2015-01-08', '2015-01-11', '2015-01-12', '2015-01-13',
               '2015-01-14', '2015-01-15',
               ...
               '2026-11-19', '2026-11-22', '2026-11-23', '2026-11-24',
               '2026-11-26', '2026-11-29', '2026-11-30', '2026-12-01',
               '2026-12-02', '2026-12-03'],
              dtype='datetime64[ns]', name='Date', length=3002, freq=None)

In [127]:
stocks.index + pd.DateOffset(days=5, months=3, hours=5, minutes=2, seconds=12)

DatetimeIndex(['2010-04-09 05:02:12', '2010-04-10 05:02:12',
               '2010-04-11 05:02:12', '2010-04-12 05:02:12',
               '2010-04-13 05:02:12', '2010-04-16 05:02:12',
               '2010-04-17 05:02:12', '2010-04-18 05:02:12',
               '2010-04-19 05:02:12', '2010-04-20 05:02:12',
               ...
               '2022-02-24 05:02:12', '2022-02-27 05:02:12',
               '2022-02-28 05:02:12', '2022-03-01 05:02:12',
               '2022-03-03 05:02:12', '2022-03-05 05:02:12',
               '2022-03-05 05:02:12', '2022-03-06 05:02:12',
               '2022-03-07 05:02:12', '2022-03-08 05:02:12'],
              dtype='datetime64[ns]', name='Date', length=3002, freq=None)

In [133]:
## Timeseries offsets

stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2021-11-30', '2021-11-30', '2021-11-30', '2021-11-30',
               '2021-11-30', '2021-11-30', '2021-12-31', '2021-12-31',
               '2021-12-31', '2021-12-31'],
              dtype='datetime64[ns]', name='Date', length=3002, freq=None)

In [135]:
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2021-10-31', '2021-10-31', '2021-10-31', '2021-10-31',
               '2021-10-31', '2021-10-31', '2021-10-31', '2021-11-30',
               '2021-11-30', '2021-11-30'],
              dtype='datetime64[ns]', name='Date', length=3002, freq=None)

In [136]:
stocks.index + pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01',
               ...
               '2021-12-01', '2021-12-01', '2021-12-01', '2021-12-01',
               '2021-12-01', '2021-12-01', '2021-12-01', '2022-01-01',
               '2022-01-01', '2022-01-01'],
              dtype='datetime64[ns]', name='Date', length=3002, freq=None)

In [137]:
from pandas.tseries import offsets

In [138]:
stocks.index + offsets.MonthEnd()

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2021-11-30', '2021-11-30', '2021-11-30', '2021-11-30',
               '2021-11-30', '2021-11-30', '2021-12-31', '2021-12-31',
               '2021-12-31', '2021-12-31'],
              dtype='datetime64[ns]', name='Date', length=3002, freq=None)

In [140]:
stocks.index + offsets.BusinessMonthEnd()

DatetimeIndex(['2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29',
               ...
               '2021-11-30', '2021-11-30', '2021-11-30', '2021-11-30',
               '2021-11-30', '2021-11-30', '2021-12-31', '2021-12-31',
               '2021-12-31', '2021-12-31'],
              dtype='datetime64[ns]', name='Date', length=3002, freq=None)

In [141]:
stocks.index + offsets.YearEnd()

DatetimeIndex(['2010-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31',
               ...
               '2021-12-31', '2021-12-31', '2021-12-31', '2021-12-31',
               '2021-12-31', '2021-12-31', '2021-12-31', '2021-12-31',
               '2021-12-31', '2021-12-31'],
              dtype='datetime64[ns]', name='Date', length=3002, freq=None)

In [143]:
stocks.index + offsets.YearBegin()

DatetimeIndex(['2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
               '2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
               '2011-01-01', '2011-01-01',
               ...
               '2022-01-01', '2022-01-01', '2022-01-01', '2022-01-01',
               '2022-01-01', '2022-01-01', '2022-01-01', '2022-01-01',
               '2022-01-01', '2022-01-01'],
              dtype='datetime64[ns]', name='Date', length=3002, freq=None)

In [144]:
## Timedelta object

time_a = pd.Timestamp('2020-03-31')
time_b = pd.Timestamp('2020-03-19')
time_a - time_b

Timedelta('12 days 00:00:00')

In [145]:
time_a = pd.Timestamp('2020-03-31 04:35:16 PM')
time_b = pd.Timestamp('2020-03-19 15:53:30')
time_a - time_b

Timedelta('12 days 00:41:46')

In [146]:
time_b - time_a

Timedelta('-13 days +23:18:14')

In [148]:
time_c = pd.Timedelta(days=3, minutes=10)

In [149]:
time_a + time_c

Timestamp('2020-04-03 16:45:16')

In [152]:
pd.Timedelta(weeks=8, days=3, hours= 12, minutes=10, seconds=20, milliseconds=20)

Timedelta('59 days 12:10:20.020000')

In [153]:
pd.Timedelta('5 minutes')

Timedelta('0 days 00:05:00')

In [154]:
pd.Timedelta('12 hours 12 minutes 5 seconds')

Timedelta('0 days 12:12:05')

In [155]:
pd.Timedelta('14 days 6 hours 12 minutes 49 seconds 12 milliseconds')

Timedelta('14 days 06:12:49.012000')

In [160]:
## Timedeltas in a dataset

shipping = pd.read_csv('ecommerce.csv', index_col='ID', parse_dates=['order_date', 'delivery_date'])
shipping

    order_date delivery_date
ID
1   1998-05-24    1999-02-05
2   1992-04-22    1998-03-06
4   1991-02-10    1992-08-26
5   1992-07-21    1997-11-20
7   1993-09-02    1998-06-10
..         ...           ...
990 1991-06-24    1996-02-02
991 1991-09-09    1998-03-30
993 1990-11-16    1998-04-27
994 1993-06-03    1993-06-13
997 1990-01-04    1991-10-03

[501 rows x 2 columns]

In [162]:
shipping['difference_in_days'] = shipping['delivery_date'] - shipping['order_date']

In [163]:
shipping

    order_date delivery_date difference_in_days
ID
1   1998-05-24    1999-02-05           257 days
2   1992-04-22    1998-03-06          2144 days
4   1991-02-10    1992-08-26           563 days
5   1992-07-21    1997-11-20          1948 days
7   1993-09-02    1998-06-10          1742 days
..         ...           ...                ...
990 1991-06-24    1996-02-02          1684 days
991 1991-09-09    1998-03-30          2394 days
993 1990-11-16    1998-04-27          2719 days
994 1993-06-03    1993-06-13            10 days
997 1990-01-04    1991-10-03           637 days

[501 rows x 3 columns]

In [165]:
shipping['twice_as_long'] = shipping['delivery_date'] + shipping['difference_in_days']

In [166]:
shipping

    order_date delivery_date difference_in_days twice_as_long
ID
1   1998-05-24    1999-02-05           257 days    1999-10-20
2   1992-04-22    1998-03-06          2144 days    2004-01-18
4   1991-02-10    1992-08-26           563 days    1994-03-12
5   1992-07-21    1997-11-20          1948 days    2003-03-22
7   1993-09-02    1998-06-10          1742 days    2003-03-18
..         ...           ...                ...           ...
990 1991-06-24    1996-02-02          1684 days    2000-09-12
991 1991-09-09    1998-03-30          2394 days    2004-10-18
993 1990-11-16    1998-04-27          2719 days    2005-10-06
994 1993-06-03    1993-06-13            10 days    1993-06-23
997 1990-01-04    1991-10-03           637 days    1993-07-01

[501 rows x 4 columns]

In [168]:
shipping.dtypes

order_date             datetime64[ns]
delivery_date          datetime64[ns]
difference_in_days    timedelta64[ns]
twice_as_long          datetime64[ns]
dtype: object

In [171]:
mask = shipping['difference_in_days'] > '3500 days'
shipping[mask]

    order_date delivery_date difference_in_days twice_as_long
ID
314 1990-03-07    1999-12-25          3580 days    2009-10-13
884 1990-01-20    1999-11-12          3583 days    2009-09-03
904 1990-02-13    1999-11-15          3562 days    2009-08-16

In [175]:
shipping['difference_in_days'].min()

Timedelta('8 days 00:00:00')

In [176]:
shipping['difference_in_days'].max()

Timedelta('3583 days 00:00:00')

In [177]:
shipping['difference_in_days'].mean()

Timedelta('1217 days 22:53:53.532934')