# Section 3 Series

In [1]:
import pandas as pd

In [4]:
lottery = [3, 5, 6, 7, 87, 100]
pd.Series(lottery)

0      3
1      5
2      6
3      7
4     87
5    100
dtype: int64

In [5]:
registrations = [True, False, False, True, False]
pd.Series(registrations)

0     True
1    False
2    False
3     True
4    False
dtype: bool

In [3]:
## Create a Series object from dictionary
webster = { 'Aardvark': 'An animal', 'Banana': 'Fruit', 'Cyan': 'Color'}
pd.Series(webster)

Aardvark    An animal
Banana          Fruit
Cyan            Color
dtype: object

### Attributes

In [3]:
about_me = ["Smart", "Handsome", "Charming", "Brilliant", "Humble"]
s = pd.Series(about_me)

In [6]:
# Accessing attributes
s.values

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble'],
      dtype=object)

In [7]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
s.dtype

dtype('O')

### Series methods

In [13]:
prices = [2.99, 1.45, 1.34, 5.67, 10.10, 234.3]

s = pd.Series(prices)

In [14]:
s.sum()

255.85000000000002

In [15]:
s.product()

77950.82396801701

In [16]:
s.max()

234.3

In [17]:
s.mean()

42.64166666666667

In [18]:
s.median()

4.33

### Parameters and arguments

In [23]:
fruits = ["apple", "orange", "plum", "grape", "blueberry"]
weekdays = ["monday", "tuesday", "wednesday", "thursday", "friday"]

pd.Series(fruits, weekdays)
pd.Series(data=fruits, index=weekdays)
pd.Series(fruits, index=weekdays)

monday           apple
tuesday         orange
wednesday         plum
thursday         grape
friday       blueberry
dtype: object

In [24]:
fruits = ["apple", "orange", "plum", "grape", "blueberry", "watermelon"]
weekdays = ["monday", "tuesday", "wednesday", "thursday", "friday", "monday"]

pd.Series(data=fruits, index=weekdays)

monday            apple
tuesday          orange
wednesday          plum
thursday          grape
friday        blueberry
monday       watermelon
dtype: object